# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/dist
/package

# misc
.DS_Store
.env*
.history
*.log

# Python
.venv

# IDE
.cursor
.omc

